--
-- PostgreSQL database dump
--

\restrict DwVmv8L0K4uBEgXHlgvrXYuSDVmZmJLzhEkgHZtjqqU4sfYe2By7V9D5aIAL9Dn

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: role; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.role (
    created_at timestamp(6) with time zone,
    id bigint NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public.role OWNER TO postgres;

--
-- Name: role_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.role ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.role_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    created_at timestamp(6) with time zone,
    id bigint NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255),
    username character varying(255) NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_auth_providers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_auth_providers (
    user_id bigint NOT NULL,
    auth_provider character varying(255),
    CONSTRAINT users_auth_providers_auth_provider_check CHECK (((auth_provider)::text = ANY ((ARRAY['EMAIL'::character varying, 'GITHUB'::character varying, 'GOOGLE'::character varying])::text[])))
);


ALTER TABLE public.users_auth_providers OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_roles (
    role_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.users_roles OWNER TO postgres;

--
-- Data for Name: role; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.role (created_at, id, name) FROM stdin;
2025-12-30 23:19:55.668125+05:30	1	USER
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (created_at, id, email, password, username) FROM stdin;
2026-01-01 20:07:31.199675+05:30	5	2023it0242@svce.ac.in	$2a$10$1acAxPO.z2NQMvWI.ldITO2d4PAZ0PfCcFV5fvk/c.IJ0hH1Ufuo.	alterdhanesh67
2026-01-01 20:04:59.808664+05:30	4	dhaneshvenkateslu@gmail.com	$2a$10$F6Thwpfx5D.goqvshEEd5uM.KjAQBT43urfHVX1iuXTC.BszRG0s.	dhanesh76
2026-01-26 12:40:09.880491+05:30	6	v.dhanesh.7006@gmail.com	\N	alterdhanesh77
\.


--
-- Data for Name: users_auth_providers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_auth_providers (user_id, auth_provider) FROM stdin;
4	EMAIL
5	GOOGLE
4	GOOGLE
4	GITHUB
6	GOOGLE
6	GITHUB
\.


--
-- Data for Name: users_roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_roles (role_id, user_id) FROM stdin;
1	4
1	5
1	6
\.


--
-- Name: role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.role_id_seq', 2, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 6, true);


--
-- Name: role role_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_name_key UNIQUE (name);


--
-- Name: role role_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users_roles users_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_roles
    ADD CONSTRAINT users_roles_pkey PRIMARY KEY (role_id, user_id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: users_auth_providers fkdw251n70yx0hs828d1kg9hm1t; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_auth_providers
    ADD CONSTRAINT fkdw251n70yx0hs828d1kg9hm1t FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: users_roles users_roles_role_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_roles
    ADD CONSTRAINT users_roles_role_fk FOREIGN KEY (role_id) REFERENCES public.role(id);


--
-- Name: users_roles users_roles_user_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_roles
    ADD CONSTRAINT users_roles_user_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict DwVmv8L0K4uBEgXHlgvrXYuSDVmZmJLzhEkgHZtjqqU4sfYe2By7V9D5aIAL9Dn

